<context id="EmergingTeams"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context"
	class="EmergingTeams.NetworkGenerator.ScaleFreeNetworkContext">
	
	<projection type="network" id="NodeNetwork">
		<attribute type="boolean" value="true" id="directed" />
	</projection>
	<projection type="network" id="teams"></projection>
	<projection type="network" id="skills"></projection>
	<projection type="network" id="linkedin"></projection>

</context>
